
* {
    box-sizing: border-box;
}
.container
{
    height: 400px;
    border: 2px solid red;
    display: flex;
    /* flex-direction: column-reverse; */
flex-wrap: wrap;
}

.box
{
    border: 2px solid rgb(0, 112, 2);
    margin: 10px 0px;
    width: 80px;
}